.title {
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: forestgreen;
}

img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-lasagna {
    height: auto;
    width: 300px;
}

.description-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.description {
    text-align: left;
}

.subtitle {
    text-align: center;
    font-size: 35px;
    background-color: black;
    color: forestgreen;
}

ul {
    list-style-type: square;
    padding: 15px;
}


ol {
    list-style-type: upper-roman;
    padding: 15px;
}

li {
    padding: 10px;
}
